@use "./../../styles/variables" as vars;

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;



  &__container {
    padding: 0.75rem;
    border-radius: 0.5rem;

    &--active {
      border: 1px solid vars.$border-color;
      color: vars.$primary-color;
    }

    &:hover {
      color: vars.$primary-color;
    }
  }

  &__toggle {
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
  }

  &__toggle-title {
    display: flex;
    gap: 1.25rem;
  }

  &__item {
    display: flex;
    gap: 0.625rem;
    transition: color 0.3s ease;
    font-size: 0.825rem;

    &:hover {
      color: vars.$primary-color;
    }

    &--selected {
      color: vars.$primary-color;
    }
  }

  &__item-icon {
    min-width: 24px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    border-radius: 0.5rem;
    padding: 0.75rem;

    &--active {
      border: 1px solid vars.$border-color;
    }
  }
}