@use '_variables' as vars;

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: normal;
}

body {
  /* line-height: 1.5; */
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Reset End */

:root {
  --active-icon-color: #{vars.$primary-color};
  --default-icon-color: #{vars.$neutral-4-color};
  --faded-icon-color: #{vars.$neutral-5-color};
}

html {
  line-height: 1.5;
}

body {
  background-color: vars.$background-color;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 1440px;
  margin: auto;
}