@use './../../../styles/variables' as vars;

.sidebar {
  grid-area: 2/1;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.5rem;
  border-right: 1px solid vars.$border-color;
  justify-content: space-between;
  min-height: calc(100vh - 80px);
  overflow-y: auto;

  &__workspace {
    display: flex;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid vars.$neutral-7-color;
    width: 100%;
    justify-content: space-between;
    /* align-items: center; */
  }

  &__workspace-main {
    display: flex;
    gap: 0.75rem;
  }

  &__workspace-logo {
    padding: 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50%;
  }

  &__workspace-logo-image {
    height: 100%;
  }

  &__workspace-title {
    color: vars.$neutral-5-color;
    line-height: 1.5rem;
    font-size: 0.825rem;
  }

  &__workspace-folder {
    color: vars.$neutral-3-color;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  &__workspace-dropdown-icon {
    width: 24px;
    height: 24px;
    margin: auto 0;
  }

  &__menu-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.825rem;
    list-style: none;
  }

  &__menu-item-icon {
    width: 24px;
    height: 24px;
    transition: fill 0.3s ease, stroke 0.3s ease;

    &:hover {
      fill: vars.$primary-color;
      stroke: vars.$primary-color;
    }
  }

  &__menu-item {
    padding: 0.75rem;
    display: flex;
    gap: 1.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: vars.$neutral-4-color;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: vars.$primary-color;

      &__menu-item-icon {
        fill: vars.$primary-color;
        stroke: vars.$primary-color;
      }
    }
  }



  &__menu-global {
    display: flex;
    gap: 0.825rem;
    flex-direction: column;
    margin-top: auto;
  }

  &__menu-logout {
    display: flex;
    background-color: vars.$neutral-3-color;
    border-radius: 0.5rem;
    gap: 1.25rem;
    padding: 0.75rem;
    color: vars.$background-color;
  }

  &__menu-logout-icon {
    width: 24px;
    height: 24px;
    fill: vars.$background-color;
    stroke: vars.$background-color;
  }

  &__dropdown-list {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
    gap: 0.75rem;
    list-style: none;
    border-radius: 0.5rem;
    border: 1px solid vars.$border-color;
  }

  &__dropdown-item {
    display: flex;
    gap: 0.625rem;
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 0.825rem;

    &:hover {
      color: vars.$primary-color;
    }
  }
}