@use './../../styles/variables' as vars;

.swimlane {
  grid-area: 3/-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: vars.$neutral-7-color;
  flex-grow: 1;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: vars.$background-color;
    border-right: 1px solid vars.$border-color;
    border-bottom: 1px solid vars.$border-color;
  }

  &__title {
    padding: 0.25rem 1.5rem;
    border-radius: 46px;
    font-size: 0.875rem;
    font-weight: 500;
  }

  &__actions {
    display: flex;
    gap: 0.25rem;
  }

  &__card {
    height: 100px;
    background-color: vars.$background-color;
    margin: 0 1rem;
    border-radius: 0.75rem;
  }

  &__tab {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-right: 1px solid vars.$border-color;
  }
}