.board {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
  height: 100vh;

  @media (max-width: 1150px) {
    grid-template-columns: 1fr;
  }

  &__main {
    display: flex;
    flex-direction: column;
  }
}